header> div{
    
    margin: 3.5em 0px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
}

header{
    margin-bottom: 4.5rem;
}



body{
    background-color: beige;
    
}

.wew{

    margin-top: 4em;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: (1fr);
}

.wew1{
    margin-top: 4em;
    align-items: center;
    display: grid;
    grid-template-columns: (1fr);

}
video{
    width: 95%;
}
img{
    width: 95%;
}

.khas{
    border: 1px solid black;
    border-radius: 5px;
    grid-gap: 5px;
    padding: 2em;
    margin: 1em;
    display: flexbox;
    justify-content: space-evenly;
   
}


.khas:hover{
   background-color: whitesmoke;
   
}
.khas:active{
    background-color: green;
}

nav ul{
    text-decoration:overline green;
}

.photos{
    width:150%;
    height: auto;
}
img:hover{
    width:100%;
    height: auto;
}

@media(min-width: 900px){
    nav ul{
        text-decoration:none;
    }
   
    .wew{
        
        margin: 1em;
        padding: 0.5em;

        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        align-items: center;
        column-gap: 1em;
        row-gap: 1em;

    }
    .khas{
        border: 1px solid black;
          
        padding-top: 10px;
        padding-bottom: 10px ;
        display: flexbox;
        
        
    }
    .wew1{
        margin-top: 4em;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
 

}

