body {
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin-bottom: 4.5rem;
}

.khas {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
}

.khas:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
}

.khas:active {
    background-color: green;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.wew,
    .wew1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

@media (min-width: 900px) {
    .wew,
    .wew1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }
}
